@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&family=Poppins:wght@700&display=swap');
$HeadingsFont:        'Poppins', sans-serif;
$BodyFont:          'Open Sans', sans-serif;
$Pink:                hsl(322, 100%, 66%);
$LightPink:           hsl(321, 100%, 78%);
$LightRed:              hsl(0, 100%, 63%);
$VeryDarkCyan:         hsl(192, 100%, 9%);
$VeryPaleBlue:        hsl(207, 100%, 98%);
$White:                              #fff;
$BoxShadow:            rgba(0, 0, 0, 0.1);